<component name="libraryTable">
  <library name="spring-beans-5.0.0.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/src/main/lib/spring-jdbc/spring-beans-5.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/main/lib/spring-jdbc/spring-core-5.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/main/lib/spring-jdbc/spring-jdbc-5.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/src/main/lib/spring-jdbc/spring-tx-5.0.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>